# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.temp/
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
.idea/
.vscode/

# production
/lib

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
